<div class="container">
        <div class="row  main-login">
            <h3 class="col s12 header center-align">登录云中台</h3>



        


                <form ng-submit="update()" name="configForm" class="col s8 offset-s2 " novalidate>



                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input ng-model="config.auth.username" id="basic_auth_username" type="text">
                            <label for="basic_auth_username" ng-class="{active:config.auth.username}">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3" ng-show=true>
                            <input ng-model="config.auth.password" id="basic_auth_password" type="password">
                            <label for="basic_auth_password" ng-class="{active:config.auth.password}">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="waves-effect waves-blue btn col s6 offset-s3">LOGIN</button>
                        </div>
                    </div>
                </form>





<!--
<ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
-->













    </div>
</div>
