@import './node_modules/materialize-css/sass/materialize.scss';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
    margin:50px 0px 30px 150px;
    overflow:hidden;
}



h1, h2, h3, h4, h5, h6 {
    font-weight:300;
}
.home-page{
    width:100%;
}
.home-bar{
    background-color:#f5f5f5;
    height:64px;
    overflow:hidden;
}

.home-logo{
    float: left;
    width: 300px;
    height: 42px;
    /*margin: 0 auto;*/
}
.main-color{
    background-color:#61a9eb;
}
.home-logo-a{

}
.home-logo-img{
    background-color:#f5f5f5;
    width:42px;
    height:42px;
    display:inline;
    
}
.home-logo-img img{
    
    /*width:42px;
    height:42px;*/
    /*overflow: hidden;*/
    max-width: 100%;
    max-height: 100%;
}
.home-logo-text{
    display:inline;
    font-size:32px;
}
.all-logo {
    display:inline;
    border: 0;
    box-sizing: inherit;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
}
.home-button{
    border: 1px solid #a5a5a5;
    border-radius: 15px;
    margin: 12px 5px 0px 5px;

}
.header {
    font-weight: 300;
    margin-top:50px;
    margin-bottom:50px;

}
.mtopdown {
    position: fixed !important;
    margin-top:50px;


    width:150px;
    height:100%;
    /*height:calc(100% - 94px);
    background-color: #ef9a9a;
    background-color: $primary-color;*/
}

.main-login{
    width:360px;
    height:480px;
    background:#cccccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
}
.top-nav {
    position: fixed !important;
    height: 50px;
    margin-top:0px;
    margin-left:0px;

}

footer {
    position: fixed !important;
    bottom:0;
    width:100%;
    height:30px;
    /*background-color: $primary-color;*/
}



nav i.material-icons {
    vertical-align: middle;
    display: inline-block;
}

a {
    cursor: pointer;
}

.loadingIndicator {
    position:absolute;
    top:0;
    left:0;
    padding:2px 5px;
    color:white;
}

.white-text > a {
    color: white;
    text-decoration:underline;
}

.fade.ng-hide {
    opacity: 0;
    position:relative;
    top: -5000px;
}
.fade.ng-hide-remove, .fade.ng-hide-add {
    display: block !important;
    position: static;
}
.fade.ng-hide-remove {
    transition: all linear 1000ms;
    position: static;
}

.fade.ng-hide-add {
    transition: all linear 500ms;
    position: static;
}

.home-block p {
    text-align:justify;
}

.errors ul {
    margin:0;
    list-style-position: inside;

    li {
        list-style-type: circle;
    }
}



